<div class="container">
		<section class="hero hero--primary">
				<div class="hero__body">
						<div class="hero__grid-container">
								<div class="hero__logo">
										<img src="./../../../assets/gd-new-logo.webp" alt="gd-logo" class="hero__new-logo">
								</div>
								<div class="hero__menu">
										<app-menu-bar></app-menu-bar>
								</div>
						</div>
						<div class="hero__content-header">
								<div class="hero__text-content">
										<h1 class="hero__title">
												Transforma Tu Negocio con <span class="highlight">Soluciones Digitales a la Medida</span>
										</h1>
										<h2 class="hero__subtitle">
												Automatizamos la creación de páginas web y funnels utilizando tecnología avanzada para ofrecer una
												experiencia fluida y eficiente a tu marca personal o negocio.
										</h2>
										<button class="hero__button" mat-flat-button>¡Comienza Ahora!</button>
								</div>
								<div class="hero__image-container">
										<img src="./../../../assets/landing-hero-section-img.svg" alt="hero-image" class="hero__image">
								</div>
						</div>
				</div>
		</section>
</div>
