// Importa las funciones y variables de Angular Material
@import '~@angular/material/theming/theming';

// Incluye un tema común de Angular Material
@include mat-core();

// Define las paletas de colores
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);

$theme: mat-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

// Aplicar el tema al proyecto
@include angular-material-theme($theme);
